<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>My World</title>   
<meta name="description" content="My World">  
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="icon" type="image/ico" href="http://localhost/my_world/img/favicon.ico"/>
</head>
<body>
<div id="wrap">
<div class="container">   <!--start of the container-->
<div class="row">
<div class="span3">
<div id="header">

 <div id="logo">
  <a href="home.html"><img src="img/my-world2.png" align="left" alt="My World" /></a>
  </div>
  </div>
  <div class="span9 resizebanner">
    <div id="banner">      <!--start of banner-->
    <img src="img/Header.jpg" alt="My World" align="right" />
    </div>                   <!--end of banner-->

</div>
</div>   <!--end of header-->
</div>

<div class="row">  <!--start of row for nav-->
    <div class="span12">
      <div id="nav">
      <ul>
        <li><a href="msasani.html">Msasani Pre School</a></li>
        <li ><a href="upanga.html">Upanga Pre School</a></li>
        <li ><a href="#">Community Center</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li ><a href="#">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
      </div>
    </div>

</div> <!-- end of row for nav-->

<!--*start of first row for news, video and button/-->
<h3>My World Pre School Blog</h3>
<div class="row">    <!--start of the row-->
<div class="span12">  <!--start of span-->
<h4>Blog Post Title 1</h4>
<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a ligula faucibus mi interdum ullamcorper vel id metus. Suspendisse adipiscing consequat tortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in aliquet sit amet, mattis eu dui. In varius condimentum lacus non suscipit. In pharetra tortor at risus interdum vel dapibus tellus tincidunt. Praesent et volutpat lorem. Vestibulum in nisi augue, non placerat dui. Vivamus elementum molestie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>
<a href="#"><p>Read More</p></a>
<hr>

</div><!--end of span-->
<div class="span12">  <!--start of span-->
<h4>Blog Post Title 2</h4>
<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a ligula faucibus mi interdum ullamcorper vel id metus. Suspendisse adipiscing consequat tortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in aliquet sit amet, mattis eu dui. In varius condimentum lacus non suscipit. In pharetra tortor at risus interdum vel dapibus tellus tincidunt. Praesent et volutpat lorem. Vestibulum in nisi augue, non placerat dui. Vivamus elementum molestie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>
<a href="#"><p>Read More</p></a>
<hr>

</div><!--end of span-->
<div class="span12">  <!--start of span-->
<h4>Blog Post Title 3</h4>
<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a ligula faucibus mi interdum ullamcorper vel id metus. Suspendisse adipiscing consequat tortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in aliquet sit amet, mattis eu dui. In varius condimentum lacus non suscipit. In pharetra tortor at risus interdum vel dapibus tellus tincidunt. Praesent et volutpat lorem. Vestibulum in nisi augue, non placerat dui. Vivamus elementum molestie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>
<a href="#"><p>Read More</p></a>
<hr>

</div><!--end of span-->
<div class="span12">  <!--start of span-->
<h4>Blog Post Title 3</h4>
<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a ligula faucibus mi interdum ullamcorper vel id metus. Suspendisse adipiscing consequat tortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in aliquet sit amet, mattis eu dui. In varius condimentum lacus non suscipit. In pharetra tortor at risus interdum vel dapibus tellus tincidunt. Praesent et volutpat lorem. Vestibulum in nisi augue, non placerat dui. Vivamus elementum molestie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>
<a href="#"><p>Read More</p></a>
<hr>

</div><!--end of span-->
<div class="span12">  <!--start of span-->
<h4>Blog Post Title 3</h4>
<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a ligula faucibus mi interdum ullamcorper vel id metus. Suspendisse adipiscing consequat tortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in aliquet sit amet, mattis eu dui. In varius condimentum lacus non suscipit. In pharetra tortor at risus interdum vel dapibus tellus tincidunt. Praesent et volutpat lorem. Vestibulum in nisi augue, non placerat dui. Vivamus elementum molestie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>
<a href="#"><p>Read More</p></a>
<hr>

</div><!--end of span-->

</div>  <!--end of the row-->

<!--start of footer-->
<div id="footer">
<div id="fback">
  <div id="fnav">
      <ul>
        <li><a href="#">Site Map</a></li>
        <li ><a href="#">Contact Us</a></li>
        <li ><a href="#">About Us</a></li>
    </ul>
      </div>
      </div>
  
</div>  <!--end of footer-->
</div>        
<!--end of container-->

</div>
<!--<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/bootstrap-carousel.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
</body>
</html>


