<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Cafe</title>   
<meta name="description" content="My World">  
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/additional2.css">
<link rel="icon" type="image/ico" href="http://localhost/my_world/img/favicon.ico"/>
</head>
<body>
<div id="wrap">
<div class="container">   <!--start of the container-->
<div id="header">

 <div id="logo">  <!-- start of logo-->
  <a href="home.html"><img src="img/my-world.png" align="left" alt="My World" /></a>
 <div id="slogan">
  <p align="center">Creating Leaders <br> Since 1994</p>
  </div>
  </div>   <!--end of  logo-->
    <div id="banner">      <!--start of banner-->
    <!--<img src="img/Header.jpg" alt="My World" align="right" />-->
    <div class="row">
          <div id="banner1">
          <div id="myCarousel01" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">  <!--start of c- inner-->
  
 <!-- pic no 1 goes here-->
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/141x278"  alt="" />
      
    </div>        <!--   end of item-->
   <!-- end of pic1-->
   
   <!-- pic no 2 goes here-->
    <div class="item">
      <img src="http://placehold.it/141x278" alt="" />
      
    </div>
    <!-- end pic no 2 goes here-->
    
     <!-- pic no 3 goes here-->
    <div class="item">
      <img src="http://placehold.it/141x278" alt="" />
      
    </div>
      <!-- end pic no 3 goes here-->
     
      <!-- pic no 4 goes here--> 
    <div class="item">
      <img src="http://placehold.it/141x278"  alt="" />
    </div>
     <!-- end pic no 4 goes here-->
    
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->
 
         <!-- end of slideshow banner1-->
          </div>
             <div id="banner2">
          <div id="myCarousel02" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">  <!--start of c- inner-->
  
 <!-- pic no 1 goes here-->
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/237x128"  alt="" />
      
    </div>        <!--   end of item-->
   <!-- end of pic1-->
   
   <!-- pic no 2 goes here-->
    <div class="item">
      <img src="http://placehold.it/237x128" alt="" />
      
    </div>
    <!-- end pic no 2 goes here-->
    
     <!-- pic no 3 goes here-->
    <div class="item">
      <img src="http://placehold.it/237x128" alt="" />
      
    </div>
      <!-- end pic no 3 goes here-->
     
      <!-- pic no 4 goes here--> 
    <div class="item">
      <img src="http://placehold.it/237x128"  alt="" />
    </div>
     <!-- end pic no 4 goes here-->
    
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->
 
         <!-- end of slideshow banner2-->
          </div>
              <div id="banner3">
          <div id="myCarousel03" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">  <!--start of c- inner-->
  
 <!-- pic no 1 goes here-->
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/237x131"  alt="" />
      
    </div>        <!--   end of item-->
   <!-- end of pic1-->
   
   <!-- pic no 2 goes here-->
    <div class="item">
      <img src="http://placehold.it/237x131" alt="" />
      
    </div>
    <!-- end pic no 2 goes here-->
    
     <!-- pic no 3 goes here-->
    <div class="item">
      <img src="http://placehold.it/237x131" alt="" />
      
    </div>
      <!-- end pic no 3 goes here-->
     
      <!-- pic no 4 goes here--> 
    <div class="item">
      <img src="http://placehold.it/237x131"  alt="" />
    </div>
     <!-- end pic no 4 goes here-->
    
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->
 
         <!-- end of slideshow banner3-->
          </div>
           <div id="banner4">
 <div id="myCarousel04" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">  <!--start of c- inner-->
  
 <!-- pic no 1 goes here-->
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://placehold.it/302x278"  alt="" />
      
    </div>        <!--   end of item-->
   <!-- end of pic1-->
   
   <!-- pic no 2 goes here-->
    <div class="item">
      <img src="http://placehold.it/302x278" alt="" />
      
    </div>
    <!-- end pic no 2 goes here-->
    
     <!-- pic no 3 goes here-->
    <div class="item">
      <img src="http://placehold.it/302x278" alt="" />
      
    </div>
      <!-- end pic no 3 goes here-->
     
      <!-- pic no 4 goes here--> 
    <div class="item">
      <img src="http://placehold.it/302x278"  alt="" />
    </div>
     <!-- end pic no 4 goes here-->
    
  </div><!-- /.carousel-inner -->
</div><!-- /.carousel -->
          </div>
    </div> <!-- end of row-->
    
    </div>                   <!--end of banner-->
</div>   <!--end of header-->

<div class="row">  <!--start of row for nav-->
    <div class="span12">
      <div id="nav">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="msasani.html">Msasani PreSchool</a></li>
        <li ><a href="upanga.html">Upanga PreSchool</a></li>
         <li ><a href="training.html">Training Center</a></li>
        <li ><a href="community.html">Community Center</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li ><a href="news.html">News</a></li>
        <li ><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
      </div>
    </div>

</div> <!-- end of row for nav-->
<h3>Cafe</h3>
<div class="row">
<!--*start of sidebar-->
<div class="span3">
<div class="sidebar">
  <ul class="nav nav-list">
 <li><a href="community.html">Community | Home</a></li>
  <li ><a href="dance.html">Dance Studio</a></li>
  <li ><a href="baby.html">Baby Center</a></li>
  <li><a href="art.html">Art Center</a></li>
  <li ><a href="library.html">Children's Library</a></li>
  <li  class="activex"><a href="cafe.html">Cafe</a></li>
  <li ><a href="play.html">Play Ground</a></li>
</ul>
  </div>
</div>  <!--end of span3-->
<div class="span9">
<div class="content">
 <img src="http://lorempixel.com/output/sports-q-c-200-150-4.jpg" alt=""  class="img4">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a  sodales ipsum, nec commodo quam nisl sed diam. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a
<p>Cras quis velit ac dolor tristique placerat. Phasellus placerat aliquet semper. Donec in elit sit amet neque venenatis faucibus eget eget magna. Pellentesque pretium nunc vitae orci ultrices ac vehicula sapien pretium. Nullam non tellus risus, ut laoreet turpis. Aliquam erat volutpat. Sed lectus leo, mattis ut vehicula quis, ultrices id tellus. Duis adipiscing mauris nec nulla faucibus ac porta ipsum imperdiet. Donec porttitor suscipit elit, a ultrices nibh suscipit ut. Suspendisse nec nisl mauris, nec cursus neque. Phasellus elit eros, feugiat eget elementum quis, faucibus sed augue. Morbi fringilla dictum velit ac rhoncus. Aenean auctor tellus sodales lectus condimentum interdum. Donec nisi augue, ornare dignissim pellentesque sit amet, vehicula in urna. Nam faucibus aliquet nisi, vitae tristique mauris tincidunt eu. Nullam sagittis felis vitae eros dignissim lobortis.<p>
<img src="http://lorempixel.com/output/sports-q-c-200-150-4.jpg" alt=""  class="img5">
<p>Nulla diam dui, consequat sed placerat vel, euismod lacinia orci. Proin rhoncus purus et sem faucibus ac congue enim faucibus. Sed pharetra, augue sed lacinia dignissim, massa erat sodales purus, vel pellentesque libero mauris suscipit erat. Aliquam id quam in risus luctus molestie. Morbi interdum consectetur risus non malesuada. Vestibulum vel lorem id purus porttitor porttitor. Cras id mollis nulla. Morbi auctor sodales massa, id fermentum mauris lacinia non. Praesent adipiscing purus id libero mattis facilisis. Duis a nisl ac ligula vehicula consequat eget et mauris.</p>
  </div>

</div>  <!--end of span9-->
</div>



<!--start of footer-->
<div id="footer">
<div id="fback"> <div id="fnav">
      <ul>
        <li><a href="#">Site Map</a></li>
        <li ><a href="contact.html">Contact Us</a></li>
        <li ><a href="about.html">About Us</a></li>
    </ul>
      </div>
      </div>
  
</div>  <!--end of footer-->
</div>        
<!--end of container-->

</div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/bootstrap-carousel.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script>
$('#myCarousel').carousel({
      interval: 5000,
      pause: "hover"
    });
	$('#myCarousel01').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel02').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel03').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel04').carousel({
      interval: 30000,
      pause: "hover"
    });
   </script>

</body>
</html>




