
<div class="span9">
<div class="content">
<h5>Teacher's Name:</h5>
<h5>Teacher's Title:</h5>
<h5>Class (es):</h5>

<a href="#"><img src="http://placehold.it/250x150" alt=""  class="img3"></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a lortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in ie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.<p>

<br>
<hr>

 
 
  </div> 
  <!--end of content
-->
</div>  <!--end of span9-->






</div>



<!--start of footer-->
