<div class="span9">
<div class="content">
<h5> Name:</h5>
<h5>Parent</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a lortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in ie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>

<hr>
<h5>Name:</h5>
<h5>Former Student</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a lortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in ie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>

<hr>
<h5>Name:</h5>
<h5>Admirer</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a lortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in ie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>

<hr>
 <h5>Name:</h5>
<h5>Teacher</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a lortor, quis sodales mi dignissim vel. Maecenas odio nibh, placerat in ie lacinia. Integer consectetur, magna et luctus aliquet, odio nibh sodales ipsum, nec commodo quam nisl sed diam.......<p>

 
  </div> 
  <!--end of content
-->
</div>  <!--end of span9-->






</div>



<!--start of footer-->
<div id="footer">
<div id="fback"> <div id="fnav">
      <ul>
        <li><a href="#">Site Map</a></li>
        <li ><a href="contact.html">Contact Us</a></li>
        <li ><a href="about.html">About Us</a></li>
    </ul>
      </div>
      </div>
  
</div>  <!--end of footer-->
</div>        
<!--end of container-->

</div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/bootstrap-carousel.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script>
$('#myCarousel').carousel({
      interval: 5000,
      pause: "hover"
    });
	$('#myCarousel01').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel02').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel03').carousel({
      interval: 30000,
      pause: "hover"
    });
	$('#myCarousel04').carousel({
      interval: 30000,
      pause: "hover"
    });
   </script>

</body>
</html>


