<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>My World</title>   
<meta name="description" content="My World">  
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">


<link rel="icon" type="image/ico" href="http://localhost/my_world/img/favicon.ico"/>
<!--<link rel="stylesheet" type="text/css" href="css/nivo-slider.css">-->
<!--<link rel="stylesheet" href="css/light.css" type="text/css" media="screen" />-->
</head>
<body>
<div id="wrap">
<div class="container">   <!--start of the container-->
<div class="row">
<div class="span3">
<div id="header">

 <div id="logo">
  <a href="home.html"><img src="img/my-world2.png" align="left" alt="My World" /></a>
  </div>
  </div>
  <div class="span9 resizebanner">
    <div id="banner">      <!--start of banner-->
    <img src="img/Header.jpg" alt="My World" align="right" />
    </div>                   <!--end of banner-->

</div>
</div>   <!--end of header-->
</div>

<div class="row">  <!--start of row for nav-->
    <div class="span12">
      <div id="nav">
      <ul>
        <li><a href="msasani.html">Msasani Pre School</a></li>
        <li ><a href="upanga.html">Upanga Pre School</a></li>
        <li ><a href="#">Community Center</a></li>
        <li ><a href="blog.html">Blog</a></li>
        <li ><a href="#">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
    </ul>
      </div>
    </div>

</div> <!-- end of row for nav-->
<h3>Upanga Pre School</h3>
<div class="row">
<!--*start of sidebar-->
<div class="span3">
<div class="sidebar">
  <ul class="nav nav-list">
  <p class="sidebarp">Our Approach</p>
  <li class="activex"><a href="#">Home</a></li>
  <li ><a href="#">Curriculum</a></li>
  <li ><a href="#">School-Home Link</a></li>
  <li ><a href="#">Projects</a></li>
   <p class="sidebarp">The School</p>
  <li ><a href="#">Facilities</a></li>
  <li ><a href="#">Play Ground</a></li>
  <li ><a href="staff.html">Teaching Stuff</a></li>
  <p class="sidebarp">Parent Resources</p>
  <li ><a href="#">Application Guidelines</a></li>
  <li ><a href="#">Parent Hand Book</a></li>
  <li ><a href="#">Testmonials</a></li>
  <li ><a href="#">Helpful Links</a></li>
</ul>
  </div>
</div>  <!--end of span3-->
<div class="span9">
<div class="content">
 <img src="http://lorempixel.com/output/sports-q-c-200-150-4.jpg" alt=""  class="img4">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ullamcorper lacus. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a  sodales ipsum, nec commodo quam nisl sed diam. In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a In urna dolor, molestie et commodo eu, viverra nec ligula. Sed a<p> 
<a href="#"><p>See Our Play Ground</p></a><br>
<p>Cras quis velit ac dolor tristique placerat. Phasellus placerat aliquet semper. Donec in elit sit amet neque venenatis faucibus eget eget magna. Pellentesque pretium nunc vitae orci ultrices ac vehicula sapien pretium. Nullam non tellus risus, ut laoreet turpis. Aliquam erat volutpat. Sed lectus leo, mattis ut vehicula quis, ultrices id tellus. Duis adipiscing mauris nec nulla faucibus ac porta ipsum imperdiet. Donec porttitor suscipit elit, a ultrices nibh suscipit ut. Suspendisse nec nisl mauris, nec cursus neque. Phasellus elit eros, feugiat eget elementum quis, faucibus sed augue. Morbi fringilla dictum velit ac rhoncus. Aenean auctor tellus sodales lectus condimentum interdum. Donec nisi augue, ornare dignissim pellentesque sit amet, vehicula in urna. Nam faucibus aliquet nisi, vitae tristique mauris tincidunt eu. Nullam sagittis felis vitae eros dignissim lobortis.<p>
<img src="http://lorempixel.com/output/sports-q-c-200-150-4.jpg" alt=""  class="img5">
<p>Nulla diam dui, consequat sed placerat vel, euismod lacinia orci. Proin rhoncus purus et sem faucibus ac congue enim faucibus. Sed pharetra, augue sed lacinia dignissim, massa erat sodales purus, vel pellentesque libero mauris suscipit erat. Aliquam id quam in risus luctus molestie. Morbi interdum consectetur risus non malesuada. Vestibulum vel lorem id purus porttitor porttitor. Cras id mollis nulla. Morbi auctor sodales massa, id fermentum mauris lacinia non. Praesent adipiscing purus id libero mattis facilisis. Duis a nisl ac ligula vehicula consequat eget et mauris.</p>
  </div>

</div>  <!--end of span9-->
</div>



<!--start of footer-->
<div id="footer">
<div id="fback">
  <div id="fnav">
      <ul>
        <li><a href="#">Site Map</a></li>
        <li ><a href="#">Contact Us</a></li>
        <li ><a href="#">About Us</a></li>
    </ul>
      </div>
      </div>
  
</div>  <!--end of footer-->
</div>        
<!--end of container-->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="js/bootstrap-carousel.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
</body>
</html>


